# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Conda
conda-meta/

# ML Models
*.pkl
*.joblib
*.h5
*.pt

# Dataset
data/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env